/* The CSS style sheet of the History page */

/* The font-size, max-width, and max-height properties of some of these CSS selectors use "vw" and "vh"
in order to achieve responsive web design */

.history__heading {
  font-size: 4vw;
  margin: 20px auto;
  text-align: center;
}

.history__heading-wrapper {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.history__title {
  font-size: 3vw;
  text-align: center;
  margin: 80px 0 50px;
}

.history__text {
  font-size: 1.5vw;
}

.history__wrapper {
  max-width: 80%;
  height: 100%;
  margin: 0 auto 0;
}

/* Media queries for responsive web design */

@media screen and (max-width: 1280px) {
  .history__heading {
    font-size: 6vw;
  }

  .history__text {
    font-size: 2.6vw;
  }

  .history__title {
    font-size: 5vw;
    margin: 20px 0 20px;
  }
}
