.history__heading {
  font-size: 100px;
  margin: 20px auto;
  text-align: center;
}

.history__heading-wrapper {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.history__title {
  font-size: 60px;
  text-align: center;
  margin: 80px 0 50px;
}

.history__text {
  font-size: 30px;
}

.history__wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto 0;
}
