/* This is the general CSS style sheet for all the pages */

/* "normalize.css" is a modern alternative to CSS resets. It makes browsers render all
elements more consistently and in line with modern standards. It precisely targets only
the styles that need normalizing. */
@import url(../vendor/normalize.css);
/* Fonts */
@import url(../vendor/fonts/fonts.css);

/* The font-size, max-width, and max-height properties of some of these CSS selectors use "vw" and "vh"
in order to achieve responsive web design */

.footer {
  margin: auto;
  border-top: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 50px;
}

.footer__text {
  margin: 20px auto 0 20px;
  font-size: 1vw;
}

.header {
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 10px;
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 10px 0;
  color: white;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

.header__logo:hover {
  background-color: red;
}

.header__logo-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header__logo-text {
  margin: 0 0 0 20px;
  font-size: 2.5vw;
}

.header__menu {
  display: flex;
  align-items: flex-end;
  margin: 0 auto 15px;
}

.header__menu-item {
  margin-right: 100px;
}

.header__menu-link {
  font-size: 2.2vw;
  text-decoration: none;
  color: white;
  margin: 0;
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
}

.header__menu-link:hover {
  color: red;
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.main {
  margin: 0;
}

.page {
  max-width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  background-color: #000;
  font-family: 'Inter', Helvetica, sans-serif;
  color: #fff;
}

/* Media queries for responsive web design */

@media screen and (max-width: 1280px) {
  .header__logo-image {
    max-width: 65px;
    max-height: 65px;
  }

  .header__menu-item {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo-image {
    max-width: 50px;
    max-height: 50px;
  }

  .header__menu-item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 568px) {
  .header__logo-text {
    margin: 0 0 0 10px;
  }

  .header__menu {
    margin: 0 auto 10px;
  }

  .footer {
    padding-bottom: 30px;
  }

  .header {
    padding-top: 5px;
  }
}
